@model Cash_Flow_Projection.Models.Dashboard

@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("Balance", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="text" name="balance" placeholder="Set Balance" />
    <button type="submit">Set</button>
}

<table class="table table-striped">
    @foreach (var entry in Model.Entries.OrderBy(_ => _.Date))
    {
        <tr>
            <td>@Html.DisplayFor(_ => entry.Date)</td>
            <td>@Html.DisplayFor(_ => entry.Description)</td>
            <td>@Html.DisplayFor(_ => entry.Amount)</td>
            <td>@Cash_Flow_Projection.Models.Balance.BalanceAsOf(Model.Entries, entry.Date)</td>
            <td>
                <div class="input-group" role="group">
                    @using (Html.BeginForm("Postpone", "Home", new { entry.id }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-default">Postpone</button>
                    }

                    @using (Html.BeginForm("Delete", "Home", new { entry.id }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Delete</button>
                    }
                </div>
            </td>
        </tr>
    }
</table>