@model Cash_Flow_Projection.Models.Dashboard

@{
    ViewData["Title"] = "Home Page";
}

<h3>Current Balance: @Html.DisplayFor(model => model.CurrentBalance) <span class="small">(as of @Html.DisplayFor(model => model.BalanceAsOf))</span></h3>

<h6>Minimum Balance: @Html.DisplayFor(model => model.MinimumBalance)</h6>

@using (Html.BeginForm("Balance", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="text" name="balance" placeholder="Balance" />
    <button type="submit">Set</button>
}

<hr />

<div id="chart_div"></div>

<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Balance</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    @foreach (var entry in Model.Rows)
    {
        <tr class="@entry.RowClass">
            <td>@Html.DisplayFor(_ => entry.Date)</td>
            <td>@Html.DisplayFor(_ => entry.Description)</td>
            <td class="@entry.AmountClass">@Html.DisplayFor(_ => entry.Amount)</td>
            <td>@Html.DisplayFor(_ => entry.Balance)</td>
            <td>
                @using (Html.BeginForm("Postpone", "Home", new { entry.id }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-default">Postpone</button>
                }
            </td>
            <td>
                @using (Html.BeginForm("Delete", "Home", new { entry.id }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="btn-group">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Delete All", "DeleteMatching", "Home", new { entry.Description })</li>
                            <li>@Html.ActionLink("Delete Following", "DeleteMatching", "Home", new { entry.Description, after = entry.Date })</li>
                        </ul>
                    </div>
                }
            </td>
        </tr>
    }
</table>

@section Scripts
{
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        var result = JSON.parse('@Html.Raw(Model.ChartData)');

        function drawChart() {
            // Create the data table.
            var data = new google.visualization.DataTable();

            data.addColumn('date', 'Date');
            data.addColumn('number', 'Balance ($)');

            for (var i = 0; i < result.length; i++)
            {
                data.addRow([new Date(result[i].Date), result[i].Balance]);
            }

            var options = {
                title: 'Projected Balance',
                legend: { position: 'bottom' },
                vAxis: { format: 'currency' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }
    </script>
}