@using Cash_Flow_Projection.Models

@inject Cash_Flow_Projection.Models.Database db

<table class="table">
    <tbody>
        @foreach (var row in Rows)
        {
            <tr class="@row.RowClass">
                <td>@row.Date</td>
                <td>@row.Description</td>
                <td>@row.Amount</td>
                <td>
                    @switch (row.Account)
                    {
                        case Cash_Flow_Projection.Models.Account.Cash:
                            <span class="badge badge-success">Cash</span>
                            break;

                        case Cash_Flow_Projection.Models.Account.Credit:
                            <span class="badge badge-danger">Credit</span>
                            break;

                        case Cash_Flow_Projection.Models.Account.Business:
                            <span class="badge badge-warning">Business</span>
                            break;
                    }
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a href="#" @onclick="@(_ => MarkComplete(row.id))" class="btn btn-success"><span class="fas fa-lg fa-check"></span></a>
                        <a href="#" @onclick="@(_ => Postpone(row.id))" class="btn btn-warning"><span class="fas fa-lg fa-clock"></span></a>

                        @*<div class="btn-group" role="group">
                            <span class="fas fa-lg fas-eraser"></span>
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <a href="#"><span class="fas fa-trash-alt"></span></a>
                            </button>
                            <div class="dropdown-menu">
                                @Html.ActionLink("This", "Delete", "Home", new { entry.id }, new { @class = "btn btn-danger" })
                                @Html.ActionLink("All", "DeleteMatching", "Home", new { entry.Description }, new { @class = "btn btn-danger" })
                                @Html.ActionLink("Following", "DeleteMatching", "Home", new { entry.Description, after = entry.Date }, new { @class = "btn btn-danger" })
                            </div>
                        </div>*@
                    </div>
                </td>
                <td>
                    @switch (row.Account)
                    {
                        case Cash_Flow_Projection.Models.Account.Cash:
                            <span>@row.CashBalance</span>
                            break;
                    }
                </td>
                <td>
                    @switch (row.Account)
                    {
                        case Cash_Flow_Projection.Models.Account.Credit:
                            <span>@row.CreditBalance</span>
                            break;
                    }
                </td>
                <td>
                    @switch (row.Account)
                    {
                        case Cash_Flow_Projection.Models.Account.Business:
                            <span>@row.BusinessBalance</span>
                            break;
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IEnumerable<Cash_Flow_Projection.Models.Dashboard.Row> Rows { get; set; }

    private async Task Refresh()
    {
        var dash = new Dashboard(db);

        Rows = dash.Rows.ToList();
    }

    private async Task Postpone(string id)
    {
        var entry = db.Entries.Single(_ => _.id == id);

        if (entry.Date < DateTime.UtcNow)
        {
            entry.Date = DateTime.Today.AddDays(1);
        }
        else
        {
            entry.Date = entry.Date.AddDays(1);
        }

        await db.SaveChangesAsync();

        await Refresh();
    }

    private async Task MarkComplete(string id)
    {
        // Get the latest balance, update for the item getting marked paid, update balance

        var entry = db.Entries.Single(_ => _.id == id);

        var balance =
            db
            .Entries
            .GetLastBalanceEntry(entry.Account)?
            .Amount
            ?? Decimal.Zero;

        db.Entries.Remove(entry);

        await db.SaveChangesAsync();

        await Refresh();
    }
}
